{% extends 'base.html.twig' %}

{% block title %} - New Societe{% endblock %}


{% block path %}
    <a href="{{ path('app_societe_index') }}">Sociétés/</a>
    <a href="{{ path('app_societe_new') }}">Nouveau</a>
{% endblock %}
{% block content %}
    {{ include('societe/_form.html.twig') }}
    
{% endblock %}
