<h1>Coucou! Veuillez confirmer vos identifiants!</h1>

<p>
    Veuillez confirmer vos identifiants en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer.</a><br>
    Ce lien expire dans 5 jours.
</p>

<p>
    Bisous!
</p>
