<form method="post" action="{{ path('app_lien_fibre_delete', {'id': lien_fibre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lien_fibre.id) }}">
    <button class="btn">Delete</button>
</form>
