<form method="post" action="{{ path('app_projet_delete', {'id': projet.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cette étape et toutes les étapes associées ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ projet.id) }}">
    <button class="deleteButton">[−]</button>
</form>
