{% extends 'base.html.twig' %}

{% block title %} - New Projet{% endblock %}


{% block path %}
    <a href="{{ path('app_projet_index') }}">Projets/</a>
    <a href="{{ path('app_projet_new') }}">Nouveau</a>
{% endblock %}
{% block content %}
    {{ include('projet/_form.html.twig') }}
    
{% endblock %}
