{% extends 'base.html.twig' %}

{% block title %} - Edit{% endblock %}

{% block content %}
    <button class="btn" onClick="window.close()">Annuler</button>
    <h1>{{ msg }}</h1>



    {{ include('relation_projet_societe/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('relation_projet_societe/_delete_form.html.twig') }}



    <script>
        document.getElementById("banner").style.display = "none";
    </script>
{% endblock %}
