{% extends 'base.html.twig' %}

{% block title %}New RelationProjetSociete{% endblock %}

{% block content %}
    <h1>Create new RelationProjetSociete</h1>

    {{ include('relation_projet_societe/_form.html.twig') }}

    <a href="{{ path('app_relation_projet_societe_index') }}">back to list</a>
{% endblock %}
