{% extends 'base.html.twig' %}

{% block title %} - Adresse index{% endblock %}


{% block path %}
    <a href="{{ path('app_adresse_index') }}">Adresses</a>
{% endblock %}
{% block content %}
    <table class="table">
        <thead>
                <tr>
                    <th>Adresse</th>
                    <th>Société</th>
                    <th>Nom du Site</th>
                </tr>
        </thead>
        <tbody id="adresseTable">
            <tr onclick="window.location.href = '{{ path('app_adresse_index')}}/#adresseTable.id#'">
                
                <td>
                    #adresseTable.numeroVoie# #adresseTable.nomVoie#,<br>
                    #adresseTable.codePostal# #adresseTable.commune#, #adresseTable.pays#
                </td>
                <td>#adresseTable.societe.nom#</td>
                <td>#adresseTable.nomSite#</td>
            </tr>
        </tbody>
    </table>

    <a class="btn create" href="{{ path('app_adresse_new') }}">Create new</a>
    
{% endblock %}

{% block script %}
    <script>
        $(function(){
            $("#adresseTable").jsonObjTable("{{ path('api_adresse_index') }}");

            //$( "#nvxContact" ).popup();
        });
    </script>
{% endblock %}