body{
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

#banner{
    background-color:rgb(117, 151, 237);
    height: 36px;
    width: 100%;
    position: fixed;
        top: 0px;
        z-index: 10; /* Stay on top */
    display: flex;
    justify-content: row;
    align-items: center;
}
.currentUser{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.dropdown{
    height: 100%;
    margin: auto;
    margin-right: 2px;
    display: flex;
    align-items: center;
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{background-color: #f1f1f1}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .currentUser{
    background-color: rgba(194, 194, 194, 0.2);
}

.menueBtn{
    font-size: 30px;
    cursor: pointer;
    width: 36px;
    
}
#sideMenue{
    margin-top: 36px;
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 30px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
#sideMenue a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-wrap-mode: nowrap;
}
#sideMenue a:hover{
    color: #f1f1f1;
}
#sideMenue .closebtn{
    position: absolute;
        top: 0;
        right: 8px;
    font-size: 36px;
    margin-left: 50px;
}
#main{
    margin-left: 250px;
    width: calc(100% - 250px);
    padding-top: 36px;
    height: calc(100% - 36px);
    transition: .5s;
}


.content{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
}


#footer{
    width: 100%;
    height: 100px;
    background-color:rgb(64, 64, 64);
    position: relative;
    bottom: 0;
    z-index: 10;
}


.wrapperSwitch{
    width: 100%;
    color: white;
    background-color: darkturquoise;
    padding: 3px;
    box-sizing: border-box;
    cursor: pointer;
}

.wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
}

.wrapper.is-open {
  grid-template-rows: 1fr;
}

.inner {
  overflow: hidden;
}