body{
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--mainBgColour);
}

#banner{
    background-color: var(--objectColour);
    height: 3em;
    width: 100%;
    position: fixed;
    right: 0;
    z-index: 10; /* Stay on top */
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: var(--accentColour);
    border-width: 1px;
}
.currentUser{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.dropdown{
    height: 100%;
    margin: auto;
    margin-right: 2px;
    display: flex;
    align-items: center;
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--objectColour);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px  var(--shadowColour);
    right: 0;
}

.dropdown-content a{
    color: var(--fontColour);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{background-color: var(--mainBgColour);}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .currentUser{
    background-color: var(--mainBgColour);
}


#sideMenue{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
        z-index: 11; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
    background-color: var(--fontColour); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 30px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
#sideMenue a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--highlightColour);
    display: block;
    transition: 0.3s;
    text-wrap-mode: nowrap;
}
#sideMenue a:hover{
    color: var(--mainBgColour);
}
#sideMenue .closebtn{
    position: absolute;
        top: 0;
        right: 8px;
    font-size: 36px;
    margin-left: 50px;
}
#main{
    margin-left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
}


.content{
    width: calc(100% - 2em);
    height: 100%;
    padding: 1em;
    padding-top: 4em;
}


#footer{
    width: 100%;
    height: 100px;
    background-color: var(--accentColour);;
    position: relative;
    bottom: 0;
    z-index: 10;
}


/* JSON DISPLAY */

.jsonDisplay {
    background-color: black;
    color: white;
    padding: .5em;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
}

.jsonDisplay .deploy{
    font-weight: bold;
    cursor: pointer;
    padding-right: 2em;
    background-color: gray;
    border-radius: 2px;
}

.jsonDisplay div{
    border-left: 1px solid gray;
    padding-left: 1em;
}

.jsonDisplay .highlight{
    color: greenyellow;
}


/* WRAPPER */

.wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

.wrapper.is-open {
    grid-template-rows: 1fr;
}

.wrapper > * {
    overflow: hidden;
}


/* SELECT WRAPPER */

.selectWrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

.selectWrapper > * {
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 2px solid var(--accentColour);
    padding-left: 1em;
}

.selectWrapper.is-open {
    grid-template-rows: 1fr;
}


/* ENDPOINTS */

.endpoints {
    margin-left: 2em;
    width: calc(100% - 2em);
}

.endpoints > .endpoint > div {
    display: flex;
    align-items: center;
    padding-left: .5em;
    height: 2em;
}

.endpoints > .endpoint > div > span {
    font-weight: bold;
    padding-right: .5em;
}

.endpoints .method {
    border-right: 1px solid var(--accentColour);
    font-weight: bold;
    width: 6em;
    justify-content: center;
}

.endpoints > .endpoint {
    border: 1px solid var(--accentColour);
    background-color: var(--objectColour);
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.endpoints > .selectWrapper{
    margin-bottom: .5em;
}

.endpoints > .endpoint:hover {
    background-color: var(--accentColour);
    transition: 0.2s;
}


/* API FORM */

.apiForm {
    margin-bottom: 1em;
}