.btn{
    background-color: var(--accentColour); 
    border: none;
    color: var(--fontColour);
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    box-sizing: border-box;
}.btn:hover {
    background-color: var(--highlightColour);
}


.btn.create {
    background-color: var(--createColour);
    color: var(--objectColour);
}.btn.create:hover {
    background-color: var(--createColourHighlight); 
    color: var(--fontColour);
}

.btn.delete {
    background-color: var(--deleteColour);
    color: var(--objectColour);
}.btn.delete:hover {
    background-color: var(--objectColour); 
    color: var(--deleteColour);
}





.navigator > a{
    font-size: 2em;
    cursor: pointer;
    margin-left: 10px;
    color: var(--fontColour);
    text-decoration: none;
    font-weight: bold;
}
.navigator > a:hover:nth-child(n + 2) {
    text-decoration: underline;
}