:root{
        font-family: Arial, Helvetica, sans-serif;
    --noColour: #00000000;
    --mainBgColour: #e6e6e6;
    --secondBgColour: #f1f1f1;
    --objectColour: white;
    --fontColour: black;
    --accentColour: #c7c7c7;
    --highlightColour: #a4a4a4;
    --shadowColour: #0000002a;
    --headdingColour: #2196f3;
    
    --createColour: #04aa6d;
    --createColourHighlight: #d5f6ea;
    --deleteColour: #f44336;


}

