.draggableWindow {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  text-wrap-mode: nowrap;
}

.window-top {
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

.draggableWindow > h2{
  padding: 10px;
}

.visibleWindow{
  display: none;
}