/* BASE TABLE FORMAT */
.table {
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  border: 1px solid var(--accentColour);
  padding: 8px;
}

.table tr{
  background-color: var(--objectColour);
  cursor: pointer;
}.table tr:nth-child(even){
  background-color: var(--secondBgColour);
}

.table th {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: left;
  background-color: var(--headdingColour);
  color: var(--objectColour);
  cursor: default;
}



/* OBJECT TABLE */
.objTable th{
  text-align-last: justify;
}

.table.objTable tr{
  background-color: var(--objectColour);
}.objTable tr:nth-child(4n){
  background-color: var(--secondBgColour);
}




/* OVERRIDES */
.table tr:hover {
  background-color: var(--accentColour);
}.active{
  background-color: var(--accentColour) !important;
}

.table.objTable .collContent{
  display: none;
  background-color: var(--objectColour);
  cursor: default;
}




/* EXTRAS */
.spacedLine{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}