.grid {
    display: flex;
}

.infoSpace{
    flex: 3;
}

.comsSpace {
    flex: 2;
    padding-left: 2em;
}

.item{
    background-color: var(--objectColour);
    padding: 1em;
    border-style: solid;
    border-radius: 0.3em;
    border-color: var(--accentColour);
    border-width: 1px;
}

.ste-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}