{% extends 'base.html.twig' %}

{% block title %} - Contact index{% endblock %}


{% block path %}
    <a href="{{ path('app_contact_index') }}">Contacts</a>
{% endblock %}
{% block content %}
    <table class="table">
        <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mél</th>
                    <th>Téléphone</th>
                    <th>Pôst</th>
                </tr>
        </thead>
        <tbody id="contactTable">
            <tr onclick="window.location.href = '{{ path('app_contact_index')}}/#contactTable.id#'">
                <td>#contactTable.nom#</td>
                <td>#contactTable.prenom#</td>
                <td>#contactTable.mel#</td>
                <td>#contactTable.telephone#</td>
                <td>#contactTable.post#</td>
            </tr>
        </tbody>
    </table>

    <a class="btn create" href="{{ path('app_contact_new') }}">Create new</a>
    
{% endblock %}

{% block script %}
    <script>
        $(function(){
            $("#contactTable").jsonObjTable("{{ path('api_contact_index') }}");
        });
    </script>
{% endblock %}