{% extends 'base.html.twig' %}

{% block title %} - New Contact{% endblock %}


{% block path %}
    <a href="{{ path('app_contact_index') }}">Contacts/</a>
    <a href="{{ path('app_contact_new') }}">Nouveau</a>
{% endblock %}
{% block content %}
    {{ include('contact/_form.html.twig') }}

{% endblock %}
