<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>- CRM{% block title %}{% endblock %}</title>
        <link rel="icon" href="/img/hFull.png">
        <style>
                body
                {
                    margin: 0;
                    height: 100%;
                }
                #banner 
                {
                    background-color:rgb(133, 96, 1);
                    height: 36px;
                    display: flex;
                    justify-content: row;
                    align-items: center;
                }
                .currentUser{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }
                .dropdown {
                    height: 100%;
                    margin: auto;
                    margin-right: 2px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    display: inline-block;
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                    right: 0;
                }

                .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }

                .dropdown-content a:hover {background-color: #f1f1f1}

                .dropdown:hover .dropdown-content {
                    display: block;
                }

                .dropdown:hover .currentUser {
                    background-color: rgba(194, 194, 194, 0.2);
                }

                .menueBtn
                {
                    font-size: 30px;
                    cursor: pointer;
                    width: 36px;
                    
                }
                #sideMenue 
                {
                    height: 100%; /* 100% Full-height */
                    width: 0; /* 0 width - change this with JavaScript */
                    position: fixed; /* Stay in place */
                        z-index: 1; /* Stay on top */
                        top: 36; /* Stay at the top */
                        left: 0;
                    background-color: #111; /* Black*/
                    overflow-x: hidden; /* Disable horizontal scroll */
                    padding-top: 30px; /* Place content 30px from the top */
                    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
                }
                #sideMenue a 
                {
                    padding: 8px 8px 8px 32px;
                    text-decoration: none;
                    font-size: 25px;
                    color: #818181;
                    display: block;
                    transition: 0.3s;
                }
                #sideMenue a:hover {
                    color: #f1f1f1;
                }
                #sideMenue .closebtn {
                    position: absolute;
                        top: 0;
                        right: 8px;
                    font-size: 36px;
                    margin-left: 50px;
                }
                #content 
                {
                    
                    position: fixed;
                        top: 36;
                    width: 100%;
                    height: 100%;
                    transition: margin-left .5s;
                }
                #footer 
                {
                    width: 100%;
                    height: 100px;
                    background-color:rgb(64, 64, 64);
                    position: absolute;
                        bottom: 0;
                }
        </style>
        <script>
            {% if is_granted('ROLE_USER') %}
                /* Set the width of the side navigation to 250px */
                var menueFlag = 0;
                function openMenue() {
                    document.getElementById("sideMenue").style.width = "250px";
                    document.getElementById("content").style.marginLeft = "250px";
                    menueFlag = 1;
                }

                /* Set the width of the side navigation to 0 */
                function closeMenue() {
                    document.getElementById("sideMenue").style.width = "0";
                    document.getElementById("content").style.marginLeft = "0px";
                    menueFlag = 0;
                }

                function triggerMenue() {
                    if (menueFlag == 0){
                        openMenue();
                    }else{
                        closeMenue();
                    }
                        
                }
            {% endif %}
        </script>
    </head>
    <body>
        <div id="banner">
            {% if is_granted('ROLE_USER') %}
                <span class="menueBtn" onclick="triggerMenue()">&#9776;</span>
                <div class="dropdown">
                    <div class="currentUser">
                        <img src="/img/h.png" style="height:100%">
                        <span>{{ app.user.name }}</span>
                    </div>
                    <div class="dropdown-content">
                        <a href="/user/{{ app.user.id }}">Modifier profile</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            {% else %}
                <img src="/img/h.png" style="height:100%">
            {% endif %}
        </div>
        
        
        {% if is_granted('ROLE_USER') %}
            <div id="sideMenue">
                <a href="javascript:void(0)" class="closebtn" onclick="closeMenue()">&times;</a>
                <a href="/">Tableau de bord</a>
                <a href="/projet">Projets</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
            
            </div>
        {% endif %}



        <div id="content">{% block content %}{% endblock %}
        
            <div id="footer">{% block footer %}{% endblock %}</div>
        </div>
        
    </body>
</html>
