
<form name="user_form" id="user_form{{ edit|default('new') }}" method="post" action="{{ path('api_user_index') }}/{{ edit|default('new') }}">
    <div>
        <label for="user_form_email">Mel</label>
        <input type="email" id="user_form_email" name="user_form[email]" required/>
    </div>
    <div>
        <label for="user_form_name">Nom</label>
        <input type="text" id="user_form_name" name="user_form[name]" required/>
    </div>
    <div>
        <label for="user_form_roles">Roles</label>
        <input type="text" id="user_form_roles" name="user_form[roles]" multiple/>
    </div>
    <input type="hidden" name="user_form[_token]" data-controller="csrf-protection" value="csrf-token">

    <button class="btn">Save</button>
</form>



<script>
    $(function(){
        $("#user_form{{ edit|default('new') }}").ajaxForm();
    });
</script>