{% extends 'base.html.twig' %}

{% block title %} - Edit{% endblock %}

{% block navMenue %}{% endblock %}
{% block content %}
    <button class="btn" onClick="window.close()">Annuler</button>
    <h1>{{ msg }}</h1>



    {{ include('relation_contact_adresse/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('relation_contact_adresse/_delete_form.html.twig') }}



{% endblock %}
